
.header{
    background-color: rgba(0, 0,0,.2);
}

.left{
    font-size: 30px;
    color: wheat;
}

.right{
    margin-top: 10px;
}

.nav{
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 3px 10px 2px 30px;
    color: #fff;
    cursor:pointer;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    height: 35px;
}


.nav span{
    position: absolute;
    z-index: 1;
    top:0;
    left: 10px;
    width: 2px;
    height:100%;
    transform: skewX(0deg);
    background: rgb(55, 116, 185);
    overflow: hidden;
    transition: width 0.8s cubic-bezier(0.59,0.05,0.16,0.99);
}

.nav span:before{
    content: attr(data-content);
    color: #000;
    display: block;
    transform: skew(0deg);
    white-space: nowrap;
    padding: 3px 10px 2px 15px;
}

.nav:hover span{
    width: calc(100%);
    -webkit-box-reflect: below -12px linear-gradient(transparent,rgba(21, 148, 148, 0.2));
    
}